.navbar {
  position: absolute;
  /* deixa caixa fixa na pagina */
  z-index: 1;
  top: 0;
  /* posição */
  left: 0;
  width: 100%;
  color: #fff;
  /* cor da letra */
}

.navbar__container {
  display: grid;
  /* estilo de display*/
  grid-template-columns: 1fr 9fr;
  /* especificando os valores da coluna por fração */
  align-items: center;

  width: 100vw;
  /* margens relacionado a caixa */
  height: 7.75rem;

  padding: 0 1rem;
  color: #fff;
  /* cor da letra */
}

.navbar__links {
  display: none;
  justify-self: end;
  /* alinhar itens dentro do grid*/
  padding-right: 3rem;
}

@media screen and (min-width: 1280px) {
  .navbar__links {
    display: flex;
  }
}

.navbar__links li {
  font-size: 0.875rem;
  margin-left: 3rem;
  text-transform: uppercase;
  /* ajuda a manipula o texto */
}

.navbar__links a {
  /* estilização dos links  */
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.navbar__menu-btn {
  cursor: pointer;
  font-size: 2rem;
  width: fit-content;
  color: #fff;
  background: unset;
  border: unset;
  justify-self: end;
}

@media screen and (min-width: 1280px) {
  .navbar__menu-btn {
    display: none;
  }
}
